<template>
  <div class="scales fill-height">    
    <v-container>
      <v-row class="text-center">
        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">
            Scales
          </h1>
          <h2>
            Root: {{ root ? Roots[root] : '' }}
            <br>
            Signature: {{ signature ? Signatures[signature] : '' }}
          </h2>
          <h2>
            Scale: {{ scale ? Scales[scale] : '' }}
          </h2>
          <h2>
            Mode: {{ mode ? Modes[mode] : '' }}
          </h2>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Signatures from '@/domainLogic/sidebar/header/Signatures';
  import Roots from '@/domainLogic/sidebar/header/Roots';
  import Scales from '@/domainLogic/sidebar/content/Scales';
  import Modes from '@/domainLogic/sidebar/content/Modes';

  export default Vue.extend({
    name: 'Scales',
    props: {
      //
    },
    data() {
      return {
        Signatures,
        Roots,
        Scales,
        Modes,
      };
    },
    computed: {
      root<String>() {
        return this.$store.state.root;
      },
      signature<String>() {
        return this.$store.state.signature;
      },
      scale<String>() {
        return this.$store.state.scale;
      },
      mode<String>() {
        return this.$store.state.mode;
      },
    },
  });
</script>
