<template>
  <v-card
    rounded="0"
    v-bar
    id="sidebar-content" 
    :height="height"
  >
    <v-card-text class="px-4 py-4">
      <p class="text-left">
        Instrument: {{ instrument }} <br>
        Harmony: {{ harmony ? Harmonies[harmony].text : '' }} <br>
        Root: {{ root ? Roots[root].text : '' }}{{ signature ? Signatures[signature].text : '' }} <br>
      </p>

      <v-slide-y-transition hide-on-leave>
        <ButtonBlock
          :title="'Interval'"
          :text="interval ? Intervals[interval].text : ''"
          :buttons="Intervals" 
          :activeButton="interval"
          v-on:click="setInterval"
          v-if="$route.name === Harmonies.intervals.slug"
        />
      </v-slide-y-transition>


      <v-slide-y-transition hide-on-leave>
        <ButtonBlock
          :title="'Chord'"
          :text="chord ? Chords[chord].text : ''"
          :buttons="Chords" 
          :activeButton="chord"
          v-on:click="setChord"
          v-if="$route.name === Harmonies.chords.slug"
        />
      </v-slide-y-transition>

      <!-- 
        TODO modes depend on scales
      -->
      <v-slide-y-transition hide-on-leave>
        <ButtonBlock
          :title="'Scale'"
          :text="scale ? Scales[scale].text : ''"
          :buttons="Scales" 
          :activeButton="scale"
          v-on:click="setScale"
          v-if="$route.name === Harmonies.scales.slug"
        />
      </v-slide-y-transition>
      
      <v-slide-y-reverse-transition hide-on-leave>
        <ButtonBlock
          :title="'Mode'"
          :text="mode ? Modes[mode].text : ''"
          :buttons="Modes" 
          :activeButton="mode"
          v-on:click="setMode"
          v-if="$route.name === Harmonies.scales.slug"
        />
      </v-slide-y-reverse-transition>

      <p class="text-left">
        {{ laptekst }}
      </p>
    </v-card-text>
  </v-card>
</template>


<script lang="ts">
  import Vue from 'vue';
  import ButtonBlock from './ButtonBlock/Index.vue';

  import Intervals from '@/domainLogic/sidebar/content/Intervals';
  import Chords from '@/domainLogic/sidebar/content/Chords';
  import Scales from '@/domainLogic/sidebar/content/Scales';
  import Modes from '@/domainLogic/sidebar/content/Modes';

  import Signatures from '@/domainLogic/sidebar/header/Signatures';
  import Roots from '@/domainLogic/sidebar/header/Roots';
  import Harmonies from '@/domainLogic/sidebar/header/Harmonies';

  export default Vue.extend({
    name: 'Content',
    props: ['height'],
    components: {
      ButtonBlock,
    },
    computed: {
      instrument<String>() {
        return this.$store.state.instrument;
      },
      harmony<String>() {
        return this.$store.state.harmony;
      },
      root<String>() {
        return this.$store.state.root;
      },
      signature<String>() {
        return this.$store.state.signature;
      },
      interval<String>() {
        return this.$store.state.interval;
      },
      chord<String>() {
        return this.$store.state.chord;
      },
      scale<String>() {
        return this.$store.state.scale;
      },
      mode<String>() {
        return this.$store.state.mode;
      },
    },
    data() {
      return {
        laptekst: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.',
        Intervals,
        Chords,
        Scales,
        Modes,
        Signatures,
        Roots,
        Harmonies,
      };
    },
    methods: {
      setInterval(intervalSlug: string) {
        const routeParams = this.$route.params;

        if (routeParams.intervalSlug !== intervalSlug) {
          routeParams.intervalSlug = intervalSlug;
          this.$router.push({ name: Harmonies.intervals.slug, params: routeParams });
        }
      },
      setChord(chordSlug: string) {
        const routeParams = this.$route.params;

        if (routeParams.chordSlug !== chordSlug) {
          routeParams.chordSlug = chordSlug;
          this.$router.push({ name: Harmonies.chords.slug, params: routeParams });
        }
      },
      setScale(scaleSlug: string) {
        const routeParams = this.$route.params;

        if (routeParams.scaleSlug !== scaleSlug) {
          routeParams.scaleSlug = scaleSlug;
          this.$router.push({ name: Harmonies.scales.slug, params: routeParams });
        }
      },
      setMode(modeSlug: string) {
        const routeParams = this.$route.params;

        if (routeParams.modeSlug !== modeSlug) {
          routeParams.modeSlug = modeSlug;
          this.$router.push({ name: Harmonies.scales.slug, params: routeParams });
        }
      },
    },
  });
</script>


<style>
  #sidebar-content {
    width: 100%;
    background-color: var(--v-sidebar-base);
  }

  .vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
  }

  .vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
      opacity 200ms ease-in-out;
    transition:
      opacity 200ms ease-in-out;
    background-color: white;
    opacity: 10%;
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
  }

  .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    opacity: 70%;
  }

  .vb > .vb-dragger:hover > .vb-dragger-styler {
    opacity: 70%;
  }

  .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    opacity: 70%;
  }

  .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    opacity: 70%;
  }
</style>
