<template>
  <img src="./electric_guitar_icon.png">
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'ElectricGuitarIcon',
});
</script>

<style scoped>
#inverted {
    filter: invert(100%);
}
</style>