<template>
  <img id="inverted" src="./fretboard_icon.png">
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'FretBoardIcon',
});
</script>

<style scoped>
#inverted {
    filter: invert(100%);
}
</style>