<template>
  <v-fade-transition>
    <v-btn-toggle id="buttonBlockToggle" dense>
      <v-btn
        v-if="defaultButtonText"
        text
        @click="onClick()"
        :class="{ buttonInBlock: true, buttonInBlockActiveClass: !activeButton }"
      >
        <span>{{ defaultButtonText }}</span>
      </v-btn>

      <v-btn
        text
        v-for="(button, index) in buttons"
        :key="index"
        @click="onClick(button.slug)"
        :class="{ buttonInBlock: true, buttonInBlockActiveClass: button.slug === activeButton }"
      >
        <v-icon v-if="button.icon">{{ button.icon }}</v-icon>
        <span v-else>{{ button.text }}</span>
      </v-btn>
    </v-btn-toggle>
  </v-fade-transition>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    name: 'CommonButtons',
    props: ['buttons', 'activeButton', 'defaultButtonText'],
    methods: {
      onClick(slug: string) {
        this.$emit('click', slug);
      },
    },
  });
</script>

<style scoped>
  #buttonBlockToggle {
    padding: 0px;
    display: inline-table;
  }

  #buttonBlockToggle a {
    font-size: 14px;
  }

  .buttonInBlock {
    background-color: var(--v-sidebar-lighten1);
    transition: background-color 0.2s;
  }

  .buttonInBlock:hover {
    background-color: var(--v-sidebarbutton-base);
  }

  .buttonInBlock:focus {
    background-color: var(--v-sidebar-lighten1);
  }

  .buttonInBlockActiveClass {
    background-color: var(--v-sidebarbutton-base);
  }
</style>
