<template>
  <v-card
    rounded="0"
    class="px-2 py-4" 
    id="sidebar-header"
  >
    <v-row no-gutters>

      <v-col cols="auto" min-width="100" class="px-2 py-4">
        <Title :text="'Root Signature'" />
        <Buttons
          :buttons="Signatures"
          :activeButton="signature"
          :defaultButtonText="'None'"
          v-on:click="setSignature"
        />
      </v-col>

      <v-col cols="auto" min-width="100" class="px-2 py-4">
        <Title :text="'Root'" />
        <Buttons
          :buttons="Roots"
          :activeButton="root"
          :defaultButtonText="'All'"
          v-on:click="setRoot"
        />
      </v-col>


      <v-col cols="auto" min-width="100" class="px-2 py-4">
        <Title :text="'Harmony'" />
        <Buttons
          :buttons="Harmonies"
          :activeButton="harmony"
          :defaultButtonText="'All'"
          v-on:click="setHarmony"
        />
      </v-col>

    </v-row>
  </v-card>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Title from './Title.vue';
  import Buttons from './Buttons.vue';
  import Signatures from '@/domainLogic/sidebar/header/Signatures';
  import Roots from '@/domainLogic/sidebar/header/Roots';
  import Harmonies from '@/domainLogic/sidebar/header/Harmonies';

  export default Vue.extend({
    name: 'Header',
    components: {
      Title,
      Buttons,
    },
    computed: {
      signature<String>() {
        return this.$store.state.signature;
      },
      root<String>() {
        return this.$store.state.root;
      },
      harmony<String>() {
        return this.$store.state.harmony;
      },
    },
    data() {
      return {
        Signatures,
        Roots,
        Harmonies,
      };
    },
    methods: {
      setSignature(signatureSlug: string) {
        const routeName: any = this.$route.name;
        const routeParams = this.$route.params;

        if (routeParams.signatureSlug !== signatureSlug) {
          routeParams.signatureSlug = signatureSlug;
          this.$router.push({ name: routeName, params: routeParams });
        }
      },
      setRoot(rootSlug: string) {
        const routeName: any = this.$route.name;
        const routeParams = this.$route.params;

        if (routeParams.rootSlug !== rootSlug) {
          routeParams.rootSlug = rootSlug;
          this.$router.push({ name: routeName, params: routeParams });
        }
      },
      setHarmony(harmonySlug: string) {
        let routeName: any = this.$route.name;
        let routeParams = this.$route.params;

        if (routeName !== harmonySlug) {
          if (!harmonySlug) { routeName = 'Home'; } else { routeName = harmonySlug; }

          routeParams = {
            instrumentSlug: routeParams.instrumentSlug,
            rootSlug: routeParams.rootSlug,
            signatureSlug: routeParams.signatureSlug,
          };

          this.$router.push({ name: routeName, params: routeParams });
        }
      },
    },
  });
</script>

<style scoped>
  #sidebar-header {
    background-color: var(--v-sidebar-darken1);
  }
</style>
