<template>
  <v-list nav>
    <v-list-item
      v-for="(button, index) in buttons"
      :key="index"
    >
      <v-card class="listCard">
        <v-row class="flex-column fill-height" justify="center">
          <v-col cols="auto">

            <v-btn
              icon
              outlined
              height="64px"
              width="64px"
              @click="onClick(button.slug)"
              :class="{ buttonClass: true, buttonActiveClass: button.slug === activeButton }"
            >
              <v-icon large> {{ button.icon }} </v-icon>
            </v-btn>

            <v-card-text class="buttonText">
              {{ button.text }}
            </v-card-text>

          </v-col>
        </v-row>
      </v-card>          
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    name: 'CommonButtons',
    props: ['buttons', 'activeButton'],
    methods: {
      onClick(slug: string) {
        this.$emit('click', slug);
      },
    },
  });
</script>


<style scoped>
  .v-list-item {
    float: left;
  }

  .listCard {
    height: 100px; 
    width: 100px;
    background-color: var(--v-sidebar-lighten1);
  }

  .buttonClass {
    transition: background-color 0.2s;
    margin: 5px;
  }

  .buttonText {
    margin: 0px;
    font-size: 8px;
    padding: 0px;
  }

  .buttonClass:hover {
    background-color: var(--v-sidebarbutton-base);
  }

  .buttonClass:focus {
    background-color: var(--v-sidebar-lighten1);
  }

  .buttonActiveClass {
    background-color: var(--v-sidebarbutton-base);
  }
</style>
