<template>
  <div>
    <Title
      :title="title"
      :text="text"
    />

    <v-row 
      no-gutters 
      class="flex-row"
    >    
      <Buttons 
        :buttons="buttons" 
        :activeButton="activeButton"
        v-on:click="onClick"
      />
    </v-row>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Title from './Title.vue';
  import Buttons from './Buttons.vue';

  export default Vue.extend({
    name: 'ButtonBlock',
    props: ['title', 'text', 'buttons', 'activeButton'],
    components: {
      Title,
      Buttons,
    },
    methods: {
      onClick(slug: string) {
        this.$emit('click', slug);
      },
    },
  });
</script>
