<template>
  <p class="text-left ptitle">
    {{ title }}: {{ text }}
  </p>   
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    name: 'CommonTitle',
    props: ['title', 'text'],
  });
</script>


<style scoped>
  .ptitle {
    padding: 0px;
    margin: 0px 0px 8px 0px;
    font-size: 14px;
    font-variant-caps: all-small-caps;
  }
</style>
