<template>
  <div class="about fill-height">
    <v-container>
      <v-row class="text-center" justify="center">
        <v-col cols=10>
          <h1>This is an about page</h1>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'About',
});
</script>
