<template>
  <div class="home fill-height">    
    <v-container>
      <v-row class="text-center">
        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">
            Home
          </h1>
          <h2>
            Root: {{ root ? Roots[root] : '' }}
            <br>
            Signature: {{ signature ? Signatures[signature] : '' }}
          </h2>
        </v-col>

      </v-row>

      <v-row justify="space-around">
        <!-- start at xs (mobile) with all each col taking 3 of 12 units; 
            at sm make them all full width 12 of 12 units, so stacked on top of each other; 
            then at md go to each taking 5 units, so two will be on first row and one will be below that
        -->
        <v-col 
          cols="3"
          sm="12"
          md="5"
        >
          <v-card class="pa-2" tile>
            Kolom 1
          </v-card>
        </v-col>
        <v-col 
          cols="3"
          sm="12"
          md="5"
        >
          <v-card class="pa-2" tile>
            Kolom 2
          </v-card>
        </v-col>
        <v-col 
          cols="3"
          sm="12"
          md="5"
        >
          <v-card class="pa-2" tile>
            Kolom 3
          </v-card>
        </v-col>
      </v-row>
    
    </v-container>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Signatures from '@/domainLogic/sidebar/header/Signatures';
  import Roots from '@/domainLogic/sidebar/header/Roots';

  export default Vue.extend({
    name: 'Home',
    props: {
      //
    },
    data() {
      return {
        Signatures,
        Roots,
      };
    },
    methods: {
      //
    },
    computed: {
      root<String>() {
        return this.$store.state.root;
      },
      signature<String>() {
        return this.$store.state.signature;
      },
    },
  });
</script>
