<template>
  <div class="chords fill-height">    
    <v-container>
      <v-row class="text-center">
        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">
            Chords
          </h1>
          <h2>
            Root: {{ root ? Roots[root] : '' }}
            <br>
            Signature: {{ signature ? Signatures[signature] : '' }}
          </h2>
          <h2>
            Chord: {{ chord ? Chords[chord] : '' }}
          </h2>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Signatures from '@/domainLogic/sidebar/header/Signatures';
  import Roots from '@/domainLogic/sidebar/header/Roots';
  import Chords from '@/domainLogic/sidebar/content/Chords';

  export default Vue.extend({
    name: 'Chords',
    props: {
      //
    },
    data() {
      return {
        Signatures,
        Roots,
        Chords,
      };
    },
    methods: {
      //
    },
    computed: {
      root<String>() {
        return this.$store.state.root;
      },
      signature<String>() {
        return this.$store.state.signature;
      },
      chord<String>() {
        return this.$store.state.chord;
      },
    },
  });
</script>
