<template>
  <v-navigation-drawer
    dark
    mini-variant
    :mini-variant-width="appbarWidth"
    permanent
    touchless
    id="sidebar-appbar"
  >

    <!-- HOME BUTTON -->
    <v-list>
      <v-list-item 
        class="px-2 py-4 appbarButton"
        active-class="appbarButtonActiveClass"
        :to="'/'"
      >
        <v-list-item-action>
          <v-img src="@/assets/logo.png"></v-img>
        </v-list-item-action>

        <v-list-item-content />
      </v-list-item>
    </v-list>

    <!-- INSTRUMENT BUTTONS -->

    <v-list nav>
      <v-list-item
        class="px-2"
        v-for="(item, index) in Instruments"
        :key="index"
        @click="setInstrument(item.slug)"
        :class="{ appbarButton: true, appbarButtonActiveClass: item.slug === instrument }"
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
          <span>{{ item.text }}</span>
        </v-list-item-icon>

        <v-list-item-content />

      </v-list-item>
    </v-list>

    <!-- ABOUT AND LOGOUT BUTTONS -->

    <template v-slot:append>
      <v-list nav>
        <v-list-item
          class="px-2 appbarButton"
          active-class="appbarButtonActiveClass"
          :to="'/about'"
        >
          <v-list-item-icon>
            <v-icon>mdi-information</v-icon>
            <span>about</span>
          </v-list-item-icon>

          <v-list-item-content />

        </v-list-item>

        <v-list-item
          class="px-2 appbarButton"
          active-class="appbarButtonActiveClass"
          :to="'/logout'"
        >
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
            <span>Logout</span>
          </v-list-item-icon>

          <v-list-item-content />

        </v-list-item>
      </v-list>
    </template>

  </v-navigation-drawer>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Instruments from '@/domainLogic/sidebar/appbar/Instruments';

  export default Vue.extend({
    name: 'Appbar',
    props: ['appbarWidth'],
    computed: {
      instrument<String>() {
        return this.$store.state.instrument;
      },
    },
    data() {
      return {
        Instruments,
      };
    },
    methods: {
      setInstrument(instrumentSlug: string) {
        const routeName: any = this.$route.name;
        const routeParams = this.$route.params;

        if (routeParams.instrumentSlug !== instrumentSlug) {
          routeParams.instrumentSlug = instrumentSlug;
          this.$router.push({ name: routeName, params: routeParams });
        }
      },
    },
  });
</script>

<style scoped>
  #sidebar-appbar {
    background-color: var(--v-sidebar-darken2);
  }

  .v-list-item__icon > span {
    margin-top: 5px;
    font-size: 8px;
  }

  .v-list-item__icon {
    flex-direction: column;
    height: auto;
  }

  .appbarButton {
    transition: background-color 0.2s;
  }

  .appbarButton:hover {
    background-color: var(--v-sidebarbutton-base);
  }

  .appbarButton:focus {
    background-color: var(--v-sidebar-lighten1);
  }

  .appbarButtonActiveClass {
    background-color: var(--v-sidebarbutton-base);
  }
</style>


