<template>
  <div>
    <v-fade-transition>
      <v-btn
        v-if="hover || !sliderVisible"
        x-small
        fab
        icon
        class="sidebar-floating-button"
        :style="'top: ' + toggleVisibleButtonOffsetTop + ';'"
        @click="sliderToggleVisible"
      >
        <v-icon v-if="!sliderVisible">mdi-chevron-double-right</v-icon>
        <v-icon v-if="sliderVisible">mdi-chevron-double-left</v-icon>
      </v-btn> 
    </v-fade-transition>

    <v-fade-transition>
      <v-btn
        v-if="hover && sliderVisible"
        x-small
        fab
        icon
        class="sidebar-floating-button"
        :style="'top: ' + changeSizeButtonOffsetTop + ';'"
        @click="sliderChangeSize"
      >
        <v-icon v-if="!sliderSmall">mdi-chevron-left</v-icon>
        <v-icon v-if="sliderSmall">mdi-chevron-right</v-icon>
      </v-btn> 
    </v-fade-transition>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    name: 'FloatingButtons',
    props: [
      'hover',
      'sliderVisible',
      'sliderSmall',
      'toggleVisibleButtonOffsetTop',
      'changeSizeButtonOffsetTop',
    ],
    methods: {
      sliderToggleVisible() {
        this.$emit('sliderToggleVisible');
      },
      sliderChangeSize() {
        this.$emit('sliderChangeSize');
      },
    },
  });
</script>

<style scoped>
  .sidebar-floating-button {
    position: fixed; 
    right: -16px; 
    opacity: 100%;
    z-index: 10;
    background-color: var(--v-sidebar-lighten1);
    transition: background-color 0.2s;
  }

  .sidebar-floating-button:hover {
    background-color: var(--v-sidebarbutton-base);
  }
</style>
