<template>
  <v-hover v-slot:default="{ hover }">
    <v-navigation-drawer
      app
      dark
      permanent
      touchless
      temporary 
      hide-overlay
      :width="appbarWidth + sliderWidth(hover) + sliderPadding"
      class="show-overflow"
      v-click-outside="onClickOutside"
    >      
      <v-row 
        class="fill-height hide-overflow"
        id="sidebar-slider"
        no-gutters
        @click="onClickInside"
        v-touch="{
          left() { onLeftSwipe() },
          right() { onRightSwipe() },
        }"
      >
     
        <Appbar :appbarWidth="appbarWidth" />

        <v-col :max-width="sliderWidth(hover)" v-if="hover || sliderVisible">
          <Header />
          <Content :height="contentHeight()" />
        </v-col>

      </v-row>

      <FloatingButtons 
        :hover="hover" 
        :sliderVisible="sliderVisible" 
        :sliderSmall="sliderSmall"
        v-on:sliderToggleVisible="sliderToggleVisible"
        v-on:sliderChangeSize="sliderChangeSize"
        :toggleVisibleButtonOffsetTop="'48px'"
        :changeSizeButtonOffsetTop="'90px'"
      />

    </v-navigation-drawer>
  </v-hover>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Appbar from './Appbar.vue';
  import Header from './Header/Index.vue';
  import Content from './Content/Index.vue';
  import FloatingButtons from './FloatingButtons.vue';

  import { getElementDimensions } from '@/domainLogic/Common';

  export default Vue.extend({
    name: 'SideBar',
    props: [
      'viewPort',
      'appbarWidth',
      'sliderWidthSet',
      'sliderPadding',
      'sliderInitVisible',
      'sliderInitSmall',
    ],
    components: {
      Appbar,
      Header,
      Content,
      FloatingButtons,
    },
    data() {
      return {
        sliderVisible: this.sliderInitVisible,
        sliderSmall: this.sliderInitSmall,
      };
    },
    methods: {
      sliderWidth(hover: boolean) {
        console.log('hover: ', hover);

        if ((this.sliderVisible || hover) && this.sliderSmall) {
          return this.sliderWidthSet.small;
        } else if ((this.sliderVisible || hover) && !this.sliderSmall) {
          return this.sliderWidthSet.big;
        } else {
          // TODO
          // touch in combination with hover runs into problems here
          // when using touch to minimize, hover stays true; therefore no minimization happens
          return 0;
        }
      },
      contentHeight() {
        const elHeader = document.querySelector('#sidebar-header');

        // set the sidebar header height to a dummy (non-zero) number in case the header is not yet rendered
        let elHeaderHeight = 1;
        if ( elHeader ) { elHeaderHeight = getElementDimensions(elHeader).height; }

        return this.viewPort.height - elHeaderHeight;
      },
      sliderChangeSize() {
        this.sliderSmall = !this.sliderSmall;
      },
      sliderToggleVisible() {
        this.sliderVisible = !this.sliderVisible;
      },
      onClickOutside() {
        this.sliderVisible = false;
      },
      onClickInside() {
        this.sliderVisible = true;
      },
      onLeftSwipe() {
        console.log('Left swipe');
        if ( this.sliderVisible && this.sliderSmall ) {
          this.sliderVisible = false;
        } else if ( this.sliderVisible && !this.sliderSmall ) {
          this.sliderSmall = true;
        }
      },
      onRightSwipe() {
        console.log('Right swipe');
        if ( !this.sliderVisible ) {
          this.sliderVisible = true;
        } else if ( this.sliderVisible && this.sliderSmall ) {
          this.sliderSmall = false;
        }
      },
    },
  });
</script>


<style scoped>
  .show-overflow {
    overflow: visible;
  }

  .hide-overflow {
    overflow: hidden;
  }

  #sidebar-slider {
    background-color: var(--v-sidebar-darken2);
  }
</style>