<template>
  <div class="intervals fill-height">    
    <v-container>
      <v-row class="text-center">
        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">
            Intervals
          </h1>
          <h2>
            Root: {{ root ? Roots[root] : '' }}
            <br>
            Signature: {{ signature ? Signatures[signature] : '' }}
          </h2>
          <h2>
            Interval: {{ interval ? Intervals[interval] : '' }}
          </h2>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Signatures from '@/domainLogic/sidebar/header/Signatures';
  import Roots from '@/domainLogic/sidebar/header/Roots';
  import Intervals from '@/domainLogic/sidebar/content/Intervals';

  export default Vue.extend({
    name: 'Intervals',
    props: {
      //
    },
    data() {
      return {
        Signatures,
        Roots,
        Intervals,
      };
    },
    computed: {
      root<String>() {
        return this.$store.state.root;
      },
      signature<String>() {
        return this.$store.state.signature;
      },
      interval<String>() {
        return this.$store.state.interval;
      },
    },
  });
</script>
