<template>
  <v-app v-resize="onResize" id="app">

    <SideBar 
      :viewPort="viewPort" 
      :appbarWidth="appbarWidth"
      :sliderWidthSet="sliderWidthSet()"
      :sliderPadding="sliderPadding"
      :sliderInitVisible="sliderInitVisible"
      :sliderInitSmall="sliderInitSmall"
    />

    <v-scroll-x-transition hide-on-leave>
      <router-view id="mainScreen" />
    </v-scroll-x-transition>

  </v-app>
</template>


<script lang="ts">
  import Vue from 'vue';
  import SideBar from '@/components/SideBar/Index.vue';
  import { getViewPort } from '@/domainLogic/Common';

  export default Vue.extend({
    name: 'App',
    components: {
      SideBar,
    },
    data() {
      return {
        viewPort: getViewPort(),
        appbarWidth: 56,
        sliderPadding: 16,
        sliderWidthSmall: 544,
        sliderWidthBig: 1444,
        sliderInitVisible: true,
        sliderInitSmall: true,
      };
    },
    methods: {
      onResize() {
        this.viewPort = getViewPort();
      },
      sliderWidthSet() {
        // TODO break this up in two separate functions for small and big?
        const sliderWidthMax = Math.max(0, this.viewPort.width - 2 * this.appbarWidth - this.sliderPadding);
        return {
          small: Math.min(this.sliderWidthSmall, sliderWidthMax),
          big: Math.min(this.sliderWidthBig, sliderWidthMax),
        };
      },
    },
  });
</script>>


<style lang="scss">
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }

  #mainScreen {
    background-color: var(--v-mainScreen-base);
  }
</style>
